@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3e5d2y');
  src:  url('fonts/icomoon.eot?3e5d2y#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3e5d2y') format('truetype'),
    url('fonts/icomoon.woff?3e5d2y') format('woff'),
    url('fonts/icomoon.svg?3e5d2y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-injection:before {
  content: "\e903";
}
.icon-pil:before {
  content: "\e904";
}
.icon-health:before {
  content: "\e905";
}
.icon-medical_services:before {
  content: "\e906";
}
.icon-vector:before {
  content: "\e907";
}
.icon-home:before {
  content: "\e900";
}
.icon-home2:before {
  content: "\e901";
}
.icon-home3:before {
  content: "\e902";
}
.icon-eyedropper:before {
  content: "\e90a";
}
.icon-image:before {
  content: "\e90d";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-music:before {
  content: "\e911";
}
.icon-play:before {
  content: "\e912";
}
.icon-mic:before {
  content: "\e91e";
}
.icon-file-zip:before {
  content: "\e92b";
}
.icon-copy:before {
  content: "\e92c";
}
.icon-paste:before {
  content: "\e92d";
}
.icon-folder-upload:before {
  content: "\e934";
}
.icon-phone:before {
  content: "\e942";
}
.icon-history:before {
  content: "\e94d";
}
.icon-stopwatch:before {
  content: "\e952";
}
.icon-user:before {
  content: "\e971";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-hammer:before {
  content: "\e996";
}
.icon-aid-kit:before {
  content: "\e998";
}
.icon-hammer2:before {
  content: "\e9a8";
}
.icon-lab:before {
  content: "\e9aa";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-flag:before {
  content: "\e9cc";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-man:before {
  content: "\e9dc";
}
.icon-woman:before {
  content: "\e9dd";
}
.icon-arrow-up:before {
  content: "\ea32";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
